<div class="jumbotron">
  <div align="center">
    <h1><strong>Trevor Knott</strong></h1>
    <small style="color:grey"><strong>20 Years old</strong></small>
    <br>
    <small style="color:grey"><strong>(970)581-3161</strong></small>
    <br>
    <br>
    <image class="img-rounded"><%= image_tag 'Logo_3.png' %> </image>
  </div>

</div>
<div class="jumbotron">
  <div align="center">
    <h1>Current Languages</h1>
    <br>
      <%= link_to skills_path, class: 'btn btn-xs' do %>
    <span class="glyphicon glyphicon-link"></span>
    Languages
  <% end %>

  </div>
</div>
<div class="jumbotron">
  <div align="center">
    <h1>My Profiles</h1>
    <br>
    <%= link_to 'Github', 'https://github.com/Tknott95' %>
    |
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/trevor-knott-32184269' %>
    <br>
    <%= link_to 'Blog', 'https://trevorknott.wordpress.com/' %>
    |
    <%= link_to 'Facebook', 'https://www.facebook.com/trevor.knott.5' %>

  </div>
</div>
<div class="jumbotron">
  <div align="center">
    <h1>My Resume</h1>
    <large>Click on the link below to download a .pdf version of my resume.</large>
    <br>
    <br>
    <span class="glyphicon glyphicon-download"><a href="/skills.pdf">Resume</a></span>

  </div>
</div>
